.blog-form {
  border: solid 1 px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 350px;
  height: 150px;
  margin: 10px;
}

.blog-form .blog-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
